body{
    background: rgba(5, 40, 213, 0.652);
    color: white;
    margin: 0px;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
}

section{
    background: blueviolet;
    padding-bottom: 80px;
}